/*CSS*/
.padding-medium {
    padding: 20px !important;
}
.padding-small {
    padding: 5px;
}
.padding {
    padding: 1%;
}
.padding-left {
    padding-left: 1%;
}
.padding-right {
    padding-right: 1%;
}
.padding-top {
    padding-top: 0%;
}
.padding-bottom {
    padding-bottom: 1%;
}
.margin-left-small {
    margin-left: 5px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear-both {
    clear: both;
}
.strong {
    font-weight: bold;
}
.center-text {
    text-align: center;
}
.margin-auto {
    margin: 0 auto;
}
.right {
    float: right;
}
.left {
    float: left;
}
.display-hidden {
    display: none;
}
.margin-small {
    margin: 0.5%;
}
.margin {
    margin: 1%;
}
.margin-top {
    margin-top: 1%;
}
.margin-bottom {
    margin-bottom: 1%;
}
.margin-right {
    margin-right: 1%;
}
.margin-left {
    margin-left: 1%;
}
.border-top {
    border-top: 2px solid rgb(230, 230, 230);
}
.border-bottom {
    border-bottom: 2px solid rgb(230, 230, 230);
}
.one-fourth {
    width: 25%;
}
.one-third {
    width: 33%;
}
.pointer {
    cursor: pointer;
}
.red-background {
    background-color: rgb(255, 169, 166);
}
.blue-background {
    background-color: rgb(193, 192, 224);
}
.little-bold {
    font-weight: 800;
}
.hide-container {
    display: none;
}
/* config CSS */
select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
.main-table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}
.td-table {
    padding: 13px;
    background-color: #f5f5f5;
    width: 225px;
    white-space: nowrap;
    vertical-align: middle;
}
.main-box {
    width: 100%;
    clear: both;
}
.element-box {
    border: 2px solid rgb(236, 236, 236);
    width: 44%;
    overflow: hidden;
    border-radius: 7px;
    padding: 0.8%;
    margin: 2%;

}
.inner-table {
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #f5f5f5;
    white-space: nowrap;
}
.inner-table-td {
    color: #2630d1;
    text-decoration: underline;
    white-space: no-wrap;
}
.nowrap {
    text-overflow: ellipsis;
    max-width: 126px;
    white-space: nowrap;
    overflow: hidden;
}
.white-background {
    background-color: #FFFFFF;s
}
#cf2dbtable tbody tr {
    cursor: pointer;
}
.header {
    margin-bottom: 10px;
    overflow: hidden;
}
.footer {
    border-top: 2px solid rgb(230, 230, 230);
    clear: both;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 15px;
}
.footer img {
    cursor: pointer;
}
.image-play {
    width: 26px;
}
.header .margin-top {
    margin: 1.2% 0 0 0;
}
.header .margin-right {
    margin: 0 3% 0 0;
}
.pixel {
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}
.marginTop {
    margin: 3% 0 0 0;
}
.table thead tr td, tbody tr td {
    vertical-align: middle !important;
}
.ad-display-image-width {
    width: 28%;
}
.ad-display-text-width {
    width: 70%;
}

/* Additional CSS */
.body-main {
    background-color: rgb(238, 238, 238);
}
.box-border {
    border-radius: 7px;
}
.first-row {
    padding: 5px;
    overflow: hidden;
}
.last-column {
    width: 36.5%;
}
.text-format {
    font-size: 150%;
}
.monthly-column-one {
    width: 80%;
}
.monthly-column-two {
    width: 15%;
}
.listBox {
    overflow-y: scroll;
    height: 110px;
    margin-top: 10px;
    margin-left: -9px;
    width: 180px;
}
.make-a-box {
    padding: 15px;
    border: 3px solid rgb(179, 179, 179);
    overflow: hidden;
}
.make-a-box-full {
    padding: 5px;
    border: 3px solid rgb(179, 179, 179);
    width: 97%;
    margin-left: 1%;
}
.make-a-box-small {
    height: 110px !important;
}
.make-a-box input[type="text"] {
    margin: 0;
}
.make-a-box-big {
    height: 150px;
    padding: 5px;
    border: 3px solid rgb(179, 179, 179);
    width: 35%;
    margin-left: 1%;
}
.second-row {
    border: 3px solid rgb(179, 179, 179);
    min-width: 20%;
    margin-left: 1.4%;
    width: 96.5%;
    overflow: hidden;
}
.second-row div {
    border-right: 3px solid rgb(179, 179, 179);
    height: 100%;
    width: 24.6%;
}
.second-row .last-div {
    border-right: 0;
    height: 100%;
    width: 25.4%;
}
.launch-row {
    margin-top: 1%;
    float: right;
}
.margin-small-custom {
    margin: 5px 0 0 0;
}
.parent-div {
    padding: 10px;
    overflow: hidden;
}
.box-width {
    width: 30%;
}
table tbody tr.disabled {
    color: rgb(224, 222, 222);
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #99999C;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: none;
}
::-webkit-scrollbar-track {
    background: #D8D5D5;
    border-radius: 10px;
    border: none;
}
.pixel {
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}
.center-text {
    text-align: center;
}
.marginTop {
    margin: 3% 0 0 0;
}
.slider {
    text-align: center;
}
.slider .slider-text {
    font-size: 180%;
    font-weight: bold;
    margin-bottom: 1%;
}
.slider img {
    margin: 0.5%;
    cursor: pointer;
    border: 2px solid #a6a6a6;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    padding: 2%;
    width: 180px;
    height: 180px;
}
.slider img.selected {
    background-color: rgb(212, 238, 214);
    border: 2px solid rgb(95, 91, 91);
}
footer[role="contentinfo"] {
    overflow: hidden;
}
footer[role="contentinfo"] a {
    color: #ffffff !important;
}
.make-text-bold {
    font-weight: bold;
}
.make-text-blur {
    color: #a6a6a6;
}
.wrapped {
    color: rgb(165, 161, 161);
    font-weight: normal;
    margin-left: 5px;
    text-overflow: ellipsis;
    max-width: 71%;
    white-space: nowrap;
    overflow: hidden;
}
.dataTableHeight {
    height: 10px;
}
#render-buttons {
    margin-top: 30px;
}
#industry {
    width: 175px;
}
#service {
    width: 175px;
}
#industries-feed{
    width: 175px;
}
#services-feed{
    width: 175px;
}
.blockOverlay {
    width: 103% !important;
    height: 103% !important;
    top: -4px !important;
    left: -18px !important;
}
.header img {
    margin-top: 10px;
}
.paging_full_numbers, .dataTables_info {
    margin-top: 4px;
}
#selected-inputs-container {
    height: 400px;
    width: 98%;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 3%;
}
#selected-fixed-attribute-container {
    height: 175px;
    width: 98%;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 3%;
    padding-top: 15px;
}
#right-container {
    width: 26%;
}
#mapped-types {
    width: 35%;
}
.ajax-loader {
    background: url('../images/ajax-loader.gif') no-repeat 121px 3px;
}
#left-container {
    width: 73%;
    border-right: 3px solid rgb(219, 219, 219);
}
#feed-row {
    margin-top: 1%;
}
.ad-attribute {
    width: 100.3%;
    margin: 0.5%;
}
.ad-attribute-block {
    width: 32.3%;
    margin: 0.5%;
}
#ad-template-container {
    height: 64%;
    width: 99%;
    margin-top: 1%;
}
.lp-ad-footer {
    color: #1a8c1a;
}
.autotag, .auto-tag {
    width: 85%;
    margin-top: 1%
}
.length-display {
    width: 10%;
    margin: 3% 0 0 1%;
}
.priority {
    margin-top: 2%;
}
.preview {
    width: 100.3%;
    margin: 0.5%;
    padding: 2%;
}
.url {
    width: 100%;
    margin-top: 1%
}
#add-expansion {
    font-style: italic;
    font-size: 75%;
    margin-top: -1px;
    width: 89px !important;
    margin-bottom: 2px;
}
.tab-name {
    height: 30px;
    width: 90px;
}
.link-button {
    margin-top: -4px;
}
.expansion-name {
    margin-left: -10px !important;
    width: 82px;
    height: 23px;
    font-size: 12px !important;
}
.expansion-box {
    margin-left: -22px;
    width: 200px;
    margin-top: 4px;
}
.expansion-name-box {
    margin-left: -10px;
    width: 181px;
    margin-top: -9px;
}
.expansion-values-list {
    margin-top: -19px;
    margin-left: -1px;
}
#expansion-tabs {
    overflow-y: scroll !important;
    height: 180px !important;
}
#tabs {
    width: 316px;
}
.selected-inputs-list {
    margin-top: 8px;
}
.selected-inputs-tag {
    margin-top: 9px;
}
#selected-inputs {
    overflow-y: scroll;
    height: 360px;
}
#selected-fixed-attribute {
    overflow-y: scroll;
    height: 140px;
    padding-top: 10px;
}
.about-us {
    width: 88px;
}
.red-txt {
    color: red!important;
}
.rules-container {
     width: 99%;
     border-bottom: 1px solid rgb(219, 219, 219);
     height: 310px;
}
#rules-list-container {
    width: 30%;
    height: 100%;
}
#kwd-template-header {
    width: 65%;
}
#new_rule {
    margin-top: 4.5%;
    max-width: 30%;
}
.existing_rule {
    height: 70%;
    padding-left: 7px;
}
.rule-section-common {
    height: 100%;
    width: 68%;
}
.hide-rule {
    display: none;
}
#no-rule-header {
    padding-top: 10%;
    padding-left: 2.5%;
}
#rule-editor-section {
    height: 100%;
    width: 68%;
    margin-left: 2%;
}
#rule-editor {
    width: 100%;
    height: 45%;
    margin-top: 1%;
}
#rule-sample-container {
    height: 35%;
    margin-top: 1%;
    background-color: rgb(223, 223, 223);
}
#save-rule {
    margin-top:5px;
}
#rule-editor-container {
    height: 80%;
}
.main-tab {
    margin-top: 6px;
}
.isVisible-true {
    background-color: rgb(149, 152, 228);
}
.tags {
    width: 23% !important;
    margin-left: 510px;
    margin-top: -10px;
}
.city-boxes {
    width: 90%;
}
#negativeKeywordsList {
    overflow-y: scroll;
    height: 110px;
    margin-top: 10px;
    margin-left: -7px;
    width: 304px;
}
